.sign-up, .sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-form {
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  border-radius: 5px;
  transition: box-shadow 1s ease-out;
}

.sign-up-form:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

.sign-up-form .sign-up-input {
  display: flex;
  width: 400px;
  font-size: 1.4rem;
  margin: 10px 0;
}

.sign-up-input * {
  font-size: 1.4rem !important;
}

.sign-up-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  margin-top: 40px;
}

.sign-up-buttons button {
  border: none;
  padding: 10px 40px;
  color: #fab915;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.4rem;
}

.main-button {
  background-color: #000;
  text-transform: uppercase;
}

.flat-button {
  background-color: #fff;
}

.agreement {
  color: #c7c6c6;
  margin-top: 10px;
  width: 400px;
}

.agreement a {
  color: #686868;
}

.social-login-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 400px;
  margin-top: 10px;
}

.social-login-group .social-login {
  font-weight: bold;
  color: #fab915;
  cursor: pointer;
}

.sign-up-form {
  position: relative;
  box-sizing: border-box;
  display: block;
}