.airdrop-item {
  width: 45%;
  max-width: 50%;
  max-height: 90px;
  padding: 10px;
  background-color: #d1ffe6;
  border: 1px solid #007c38;
  border-radius: 10px;
  margin: 5px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  transition: box-shadow 1s linear;
}

.airdrop-item:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

.airdrop-item a {
  display: flex;
  justify-content: start;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.airdrop-item h2 {
  flex-grow: 1;
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 10px;
  text-align: left;
  padding: 0;
}

.airdrop-item img {
  display: block;
  width: 40px;
  height: auto;
}

.exclusive-info {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.exclusive, .fa-check {
  color: #007c38;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
}

.fa-check {
  margin-left: 10px;
}

.additional-info {
  align-self: baseline;
  display: flex;
  flex-direction: column;
}

.rating {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-self: center;
  margin-top: 10px;
  text-align: center;
}

.likes {
  color: #007c38;
  margin-right: 5px;
}

.dislikes {
  color: #ce0000;
}

@media screen and (max-width: 800px) {
  .airdrop-item {
    flex-direction: row;
    max-width: 100%;
    width: 95%;
  }
}

@media screen and (max-width: 360px) {
  .airdrop-item {
    max-height: 100%;
  }

  .airdrop-item a {
    flex-direction: column;
  }

  .airdrop-item h2 {
    text-align: center;
  }

  .additional-info {
    align-self: auto;
    align-items: center;
    margin-top: 10px;
  }

  .rating {
    margin-top: 5px;
  }

  .exclusive-info {
    justify-content: space-between;
    text-align: center;
  }
}