//@import "../../variables";
//
//
//  div {
//    &:before {
//      border-bottom: $white;
//    }
//    &:after {
//      border-bottom: $white;
//    }
//  //color: #aeaeae;
//  //background: #aeaeae;
//  //
//  //.MuiInput-underline-5 {
//  //  &:after {
//  //    border-bottom: 2px solid $primary-color;
//  //  }
//  //  &.MuiInput-focused-3 {
//  //    &:after {
//  //      border-bottom: 2px solid $primary-color;
//  //    }
//  //  }
//  //}
//}