.faq h2 {
  text-transform: uppercase;
}

.faq-item {
  margin: 10px 0;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  transition: box-shadow 1s ease-in-out;
}

.faq-item:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

.faq-item h3 {
  font-weight: bold;
  font-size: 2rem;
  width: 100%;
  cursor: pointer;
}

.faq-item h3 .toggle-answer {
  float: right;
  cursor: pointer;
}

.faq-item .answer {
  display: none;
}

@media screen and (max-width: 360px) {
  .faq-item h3 i {
    float: none;
  }
}