@import "../../variables.scss";
nav {
  ul {
    display: flex;
    justify-content: space-between;

    li {
      list-style-type: none;
      margin-left: 12px;

      a {
        text-transform: uppercase;
        text-decoration: none;
        color: $primary-color;

        &:hover {
          color: $accent-color;
        }

      }
    }

    .links {
      font-size: 1.2rem;
    }
  }
  #burger-menu {
    display: none;
    color: $primary-color;
    font-size: 2rem;
    margin: 0 10px;
    cursor: pointer;

    :hover {
      color: $accent-color;
    }
  }
}

@media screen and (max-width: 800px) {
  header nav {
    .links {
      display: none;
      flex-direction: column;
      position: absolute;
      background: $black;
      padding: 20px 0;
      width: 100vw;
      text-align: center;
      left: 0;
      top: 20%;
      line-height: 2rem;

      li {
        margin: 0;
      }
    }

    #burger-menu {
      display: block;
      position: relative;
    }

    .open {
      display: block;
    }
  }
}