.coin-bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 5%;
  background-color: #181818;
  color: #fff;
}

.coin-bar .icon {
  border-radius: 5px;
  padding: 2px;
  background: #585858;
}

.coin-bar .icon.up {
  background: #007c38;
}

.coin-bar .icon.down {
  background: #ce0000;
}