.news-bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 5%;
  background-color: #fab915;
}

.news-item {
  cursor: pointer;
}

.news-item:hover {
  color: #ce0000;
}

@media screen and (max-width: 550px) {
  .news-item {
    margin: 0 auto;
  }
}