.airdrops {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

#sorting {
  padding: 10px;
  font-size: 1.4rem;
  width: 300px;
  border: 1px solid #585858;
  border-radius: 5px;
  margin-right: 10px;
}

.pagination {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.pagination a {
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 1s linear;
}

.pagination a.current {
  background-color: #feffd1;
}

.pagination a:hover {
  background-color: #eee;
}

@media screen and (max-width: 800px) {
  .airdrops {
    flex-direction: column;
  }
}

@media screen and (max-width: 550px) {
  .filter {
    flex-direction: column;
  }

  #sorting {
    margin-bottom: 5px;
    width: 100%;
  }
}