header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  flex: 0 0 auto;
  background-color: #000000;
  padding: 10px 5%;
}

@media screen and (max-width: 550px) {
  header {
    flex-direction: column;
  }
}

.logo img {
  width: 150px;
  height: auto;
}