footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 5%;
}

.credentials {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  text-align: center;
  color: #585858;
  flex-grow: 0;
  width: 33%;
  order: -1;
}

.credentials .copyright {
  margin-top: 5px;
}

.footer-navs {
  flex-grow: 1;
}

footer .links, footer .social-links {
  line-height: 2rem;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  margin-bottom: 10px;
}

footer .links li {
  margin-right: 2px;
}

@media screen and (max-width: 550px) {
  footer {
    text-align: center;
  }

  footer nav {
    margin: 5px auto;
  }

  .credentials {
    order: 0;
    width: auto;
  }
}

@media screen and (max-width: 360px) {
  footer .links {
    flex-direction: column;
  }

  .footer-navs-menu {
    display: flex;
  }
}