.exchanges-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
}

.exchange {
  margin: 0 5px;
  padding: 5px;
  transition: box-shadow 1s ease;
}

.exchange:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.exchange img {
  width: 200px;
  height: auto;
}