// Import
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

// Global Styles
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.4rem;
  height: 100%;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

main ul li {
  list-style-type: none;
}

section {
  padding: 50px 0;
}

section h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

main section {
  padding: 50px 5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  letter-spacing: 0.1rem;
}

header, footer {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
  background-color: #000000;
}

header, footer {
  padding: 10px 5%;
}
