// Global Variables
$primary-color: #fab915;
$primary-color-light: #feffd1;
$secondary-color: #007c38;
$secondary-color-light: #d1ffe6;
$accent-color: #ce0000;
$accent-color-light: #ffd1d1;
$black: #000;
$white: #fff;